/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.d-flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.container {
  max-width: 1440px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}
.gap-2 {
  gap: 8px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.j_center {
  justify-content: center;
}
.todo_input {
  border: 2px solid black !important;
  outline: unset !important;
  padding: 5px 10px;
}
.render_input {
  border: 2px solid black !important;
  outline: unset !important;
  padding: 5px 10px;
}
.main_btn {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  background: black;
}
